---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import { RaceCard } from '../components/race-card'
import { getNextEvent } from '../../utils/schedule'

const nextEvent = await getNextEvent()
---

<Layout title='Welcome to Astro.'>
	<Header />
	<main class='flex min-h-screen flex-col items-center gap-4 px-2'>
		<h1 class='text-5xl font-bold uppercase pt-5 text-center text-balance'>
			Welcome to the Formula Fan Page
		</h1>
		<!-- Docs: https://docs.astro.build/en/reference/directives-reference/#clientvisible -->
		<RaceCard client:load nextEvent={nextEvent} />
	</main>
</Layout>
