---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
---

<Layout title="Welcome to Astro.">
  <Header />
  <main>
    <h1 class="text-3xl uppercase">Welcome to the Formula Fan Page</h1>
  </main>
</Layout>
