---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
---

<Layout tabTitle='Home | Welcome to the Formula Fan Page' titlePage='Teams'>
	<span>Teams</span>
</Layout>
