---
import '@fontsource/space-grotesk'
import { type Event } from '../../types/calendar'
import { getDayNumberFromDate, getMonthFromDate } from '../../utils/date'
interface Props {
	event: Event
}

const { event } = Astro.props

const day = String(getDayNumberFromDate({ date: event.dates.race })).padStart(2, '0')
const month = getMonthFromDate({ date: event.dates.race })

const backgroundColorState = {
	canceled: 'bg-red',
	schedule: 'bg-orange text-black',
	finished: 'bg-lemon text-black'
}
---

<article
	class='flex flex-row justify-between py-3 px-4 rounded-2xl bg-green border-black border-2 shadow-black-sm font-bold items-center'
>
	<div class='flex gap-2'>
		<span
			class='flex justify-center items-center text-4xl bg-white text-purple w-[60px] h-[60px] rounded-full border-black border-2'
			>{day}</span
		>
		<div class='flex flex-col text-black'>
			<span class='text-2xl uppercase'>{event.shortName}</span>
			<span class='uppercase text-purple'>{month}</span>
		</div>
	</div>
	<span
		class={`flex capitalize ${
			backgroundColorState[event.state]
		} py-1 px-2 border-black border-2 shadow-black-sm text-sm`}>{event.state}</span
	>
</article>
