---
import '@fontsource/space-grotesk'
import { type Event } from '../../types/calendar'
import { getDayNumberFromDate, getMonthFromDate } from '../../utils/date'
interface Props {
	event: Event
}

const { event } = Astro.props

const day = String(getDayNumberFromDate({ date: event.dates.race })).padStart(2, '0')
const month = getMonthFromDate({ date: event.dates.race })
const hasSprint = Object.keys(event.dates).includes('sprint')

const backgroundColorState = {
	canceled: 'bg-red',
	schedule: 'bg-orange text-black',
	finished: 'bg-lemon text-black'
}
---

<a
	href={`calendar/${event.circuitId}`}
	class='flex flex-row justify-between py-3 px-4 rounded-2xl hover:border-white font-bold items-center min-w-[360px] md:min-w-full bg-gray'
>
	<div class='flex gap-2'>
		{
			event.dates.race && (
				<span class='flex justify-center items-center text-4xl bg-white text-purple w-[60px] h-[60px] rounded-full border-black border-2'>
					{day}
				</span>
			)
		}
		<div class='flex flex-col'>
			<span class='text-2xl uppercase text-lemon' transition:name='event-name'
				>{event.shortName} {hasSprint ? '*' : ''}</span
			>
			<span class='uppercase text-grey'>{event.dates.race ? month : event.fallbackDate}</span>
		</div>
	</div>
	<span
		class={`flex capitalize ${
			backgroundColorState[event.state]
		} py-1 px-2 border-black border-2 shadow-black-sm text-sm`}>{event.state}</span
	>
</a>
