<header class="flex items-center justify-between p-6 text-link">
  <nav>
    <ul class="flex items-center justify-around">
      <li class="mr-6">
        <a class="hover:text-white" href="/calendar">Calendar</a>
      </li>
      <li class="mr-6">
        <a class="hover:text-white" href="/drivers">Drivers</a>
      </li>
      <li class="mr-6">
        <a class="hover:text-white" href="/teams">Teams</a>
      </li>
      <li class="mr-6">
        <a class="hover:text-white" href="/api">API</a>
      </li>
    </ul>
  </nav>
  <a href="/">FormulaFan Logo</a>
  <a class="hover:text-white" href="https://github.com/JoeMancera/formula-fan"
    >GitHub Project</a
  >
</header>
