<header
	class='text-white md:text-black md:static flex flex-row-reverse md:flex-row items-center justify-between text-link w-full my-4 px-6 font-bold md:bg-lemon md:border-4 md:border-orange md:rounded-2xl md:shadow-black'
>
	<button class='md:hidden' id='btn-menu-open'>
		<img class='h-9 w-9' src='/menu-icon.svg' alt='FormulaFan Logo' />
	</button>
	<nav
		class='absolute hidden md:flex flex-col items-center text-3xl w-full h-full bg-lemon md:bg-transparent md:w-min md:text-base z-10 md:static p-6 top-0 left-0 text-purple'
	>
		<button class='md:hidden stroke-black self-end' id='btn-menu-close'>
			<svg
				width='32'
				height='32'
				viewBox='0 0 32 32'
				fill='none'
				xmlns='http://www.w3.org/2000/svg'
			>
				<line x1='6.58579' y1='25.2635' x2='24.2635' y2='7.58579' stroke-width='4'></line>
				<line x1='7.41421' y1='7.58579' x2='25.0919' y2='25.2635' stroke-width='4'></line>
			</svg>
		</button>
		<ul
			class='flex flex-col md:flex-row items-center justify-center md:justify-around h-full gap-5'
		>
			<li class='mr-6'>
				<a class='hover:opacity-75' href='/calendar'>Calendar</a>
			</li>
			<li class='mr-6'>
				<a class='hover:opacity-75' href='/drivers'>Drivers</a>
			</li>
			<li class='mr-6'>
				<a class='hover:opacity-75' href='/teams'>Teams</a>
			</li>
			<li class='mr-6'>
				<a class='hover:opacity-75' href='/api.json'>API</a>
			</li>
		</ul>
	</nav>
	<a href='/'>FormulaFan Logo</a>
	<a class='hover:opacity-75' href='https://github.com/JoeMancera/formula-fan'>GitHub Project</a>
</header>
<script>
	const btnMenuOpen = document.getElementById('btn-menu-open')
	const btnMenuClose = document.getElementById('btn-menu-close')
	const nav = document.querySelector('nav')

	btnMenuOpen.addEventListener('click', () => {
		nav.classList.toggle('hidden')
	})

	btnMenuClose.addEventListener('click', () => {
		nav.classList.toggle('hidden')
	})
</script>
