<header class='flex items-center justify-between text-link border-b-2 border-black'>
	<nav class='p-6 border-l-2 border-black'>
		<ul class='flex items-center justify-around'>
			<li class='mr-6'>
				<a class='hover:opacity-75' href='/calendar'>Calendar</a>
			</li>
			<li class='mr-6'>
				<a class='hover:opacity-75' href='/drivers'>Drivers</a>
			</li>
			<li class='mr-6'>
				<a class='hover:opacity-75' href='/teams'>Teams</a>
			</li>
			<li class='mr-6'>
				<a class='hover:opacity-75' href='/api.json'>API</a>
			</li>
		</ul>
	</nav>
	<a class='p-6 border-l-2 border-r-2 border-black' href='/'>FormulaFan Logo</a>
	<a
		class='hover:opacity-75 p-6 border-r-2 border-black'
		href='https://github.com/JoeMancera/formula-fan'>GitHub Project</a
	>
</header>
