---
import Header from '../components/Header.astro'
import '@fontsource/space-grotesk'
interface Props {
	tabTitle: string
	titlePage: string
}

const { tabTitle, titlePage } = Astro.props
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content='Formula fan' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<title>{tabTitle}</title>
	</head>
	<body class='md:container md:mx-auto md:px-2 bg-purple text-white'>
		<Header />
		<main class='flex min-h-screen flex-col items-center gap-4 px-2'>
			<h1 class='text-3xl md:text-5xl font-extrabold uppercase pt-5 text-center text-balance'>
				{titlePage}
			</h1>
			<slot />
		</main>
	</body>
</html>
<style is:global>
	body {
		font-family: 'Space Grotesk', sans-serif;
	}
</style>
