---
import { ViewTransitions } from 'astro:transitions'
import Header from '../components/Header.astro'
import '@fontsource/space-grotesk'
interface Props {
	tabTitle: string
	titlePage?: string
	description?: string
	metakeywords?: string[]
}
const defaultMetaKeywords = [
	'formula',
	'f1',
	'formula 1',
	'fan page',
	'formula fan page',
	'f1 schedule',
	'f1 calendar',
	'f1 standings',
	'f1 drivers',
	'f1 constructors',
	'f1 news',
	'f1 results'
]
const { tabTitle, titlePage, description, metakeywords } = Astro.props
---

<!doctype html>
<html lang='en'>
	<head>
		<ViewTransitions />
		<meta charset='UTF-8' />
		<meta
			name='description'
			content={description ??
				'Formula fan page with calendar, championship, drivers standings, and more! This is a project just for fun and learning purposes.'}
		/>
		<meta name='viewport' content='width=device-width' />
		<meta name='keywords' content={metakeywords?.join(', ') ?? defaultMetaKeywords.join(', ')} />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<title>{tabTitle}</title>
	</head>
	<body class='bg-blue'>
		<Header />
		<div class='container mx-auto h-screen w-full max-w-7xl px-5 md:px-8 lg:px-12 text-white'>
			{
				titlePage && (
					<h1 class='text-3xl md:text-5xl font-extrabold uppercase pt-5 text-center text-balance pb-10'>
						{titlePage}
					</h1>
				)
			}
			<slot />
			<footer class='flex flex-col items-center gap-4 h-4'></footer>
		</div>
		<style is:global>
			body {
				font-family: 'Space Grotesk', sans-serif;
			}

			.bg-glass {
				background: #1f2129;
				border-radius: 10px;
			}
		</style>
	</body>
</html>
